<%- include ("../../partials/header.ejs") %>
<%- include ("../../partials/navbar.ejs") %>

<div class="container">
    <br><br>
    <h2>Artigos</h2>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% articles.forEach(article => { %>
                <tr>
                    <td><%= article.id %></td>
                    <td><%= article.title %></td>
                    <td><%= article.slug %></td>
                    <td><%= categories.find(category => category.id === article.categoryId)?.title || "Sem Categoria" %></td>
                    <td>
                        <!-- Aqui você pode colocar links de editar ou deletar -->
                        <a href="#" class="btn btn-warning btn-sm">Editar</a>
                        <a href="/admin/articles/<%= article.id %>" class="btn btn-primary">Detalhes</a>
                        <form method="POST" action="/articles/delete" style="display:inline">
                            <input type="hidden" name="id" value="<%= article.id %>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<div style="margin: auto; text-align: center;">
    <a href="/admin/articles/new"><button class="btn btn-success">Cadastrar novo artigo</button></a>
</div>

<%- include ("../../partials/footer.ejs") %>
